name = "youtube-discord-bot"
main = "index.js"
compatibility_date = "2023-12-01"
compatibility_flags = ["nodejs_compat_v2"]

# Variables for environment configuration
[vars]
YOUTUBE_CHANNEL_ID = ""
DISCORD_WEBHOOK_URL = ""

# Environment-specific configuration
[triggers]
crons = ["*/5 * * * *"]

[[kv_namespaces]]
binding = "SEEN_VIDEOS"  # This will be the variable name in your code
id = ""
